﻿@using System.Web.Mvc.Ajax
@using special.Controllers
@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<h2>Good Mood :)</h2>

<div id="loadgif" style="display: none">
    <img src="~/Content/Images/ajax-loader.gif"/>
</div>
<div id="PicDiv">
    <img id="mainPic" src="~/start.jpg" width="400" height="300" />

</div>
@*Javascript*@
<br />
<a href="#" onclick="changePic()">Change Picture (using JS)</a>
@*пришлось захардкорить список файлов, потому что на одном только javascript не получится добраться до файлов системы*@
<script>

    var index = 0;
    var paths = new Array(
        "/Content/Images/Creative_design_Spring_garden.jpg",
        "/Content/Images/d943c213784e.jpg",
        "/Content/Images/nastroeniya-devushka-bryunetka-4344.jpg",
        "/Content/Images/nastroeniya-devushka-rusaya.jpg",
        "/Content/Images/nastroeniya-devushka-ulybka-5311.jpg",
        "/Content/Images/nastroeniya-devushka-zhenschina-102.jpg",
        "/Content/Images/rozy-butony-rozovye-lepestki.jpg"
    );

    function changePic() {
        if (index + 1 == paths.length)
            index = 0;
        $('#loadgif').show();
        hide();
        setTimeout(setSrc, 3000);

    }

    function setSrc() {
        document.getElementById('mainPic').src = paths[index++];
        show();
        $('#loadgif').hide();
    }
</script>
<br/>
<br />

@*Action Link*@

@Ajax.ActionLink("Change Picture (using Ajax.ActionLink)", "ChangePicture", new AjaxOptions()
    {
        HttpMethod = "GET",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "PicDiv",
        LoadingElementId = "loadgif",
        OnBegin = "hide()",
        OnComplete = "show()"
    })

<br/>
<br/>
@*BeginForm*@

@using (@Ajax.BeginForm("ChangePicture", "Home", new AjaxOptions()
    {
        HttpMethod = "GET",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "PicDiv",
        LoadingElementId = "loadgif",
        OnBegin = "hide",
        OnComplete = "show"
    }))
{
    <input type="submit" value="Change Picture(using Ajax.BeginForm)"/>
}
<script>
    function show() {
        $('#PicDiv').show();
    }

    function hide() {
        $('#PicDiv').hide();
    }
</script>


